<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sprite_d6482ae1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{598,212}</string>
			<key>spriteSourceSize</key>
			<string>{598,212}</string>
			<key>textureRect</key>
			<string>{{3,3},{598,212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_435b2d89.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1160,207}</string>
			<key>spriteSourceSize</key>
			<string>{1160,207}</string>
			<key>textureRect</key>
			<string>{{607,3},{1160,207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>1_b96d0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{668,199}</string>
			<key>spriteSourceSize</key>
			<string>{668,199}</string>
			<key>textureRect</key>
			<string>{{1773,3},{668,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_9756ba06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{2447,3},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_82510965.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,150}</string>
			<key>spriteSourceSize</key>
			<string>{143,150}</string>
			<key>textureRect</key>
			<string>{{2652,3},{143,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>1_8da49ae8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,146}</string>
			<key>spriteSourceSize</key>
			<string>{143,146}</string>
			<key>textureRect</key>
			<string>{{2801,3},{143,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_4de50894.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{138,135}</string>
			<key>spriteSourceSize</key>
			<string>{138,135}</string>
			<key>textureRect</key>
			<string>{{2950,3},{138,135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_2ecbc116.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{135,135}</string>
			<key>spriteSourceSize</key>
			<string>{135,135}</string>
			<key>textureRect</key>
			<string>{{3094,3},{135,135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_c0745f30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{134,134}</string>
			<key>spriteSourceSize</key>
			<string>{134,134}</string>
			<key>textureRect</key>
			<string>{{3235,3},{134,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2_437644bd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{519,113}</string>
			<key>spriteSourceSize</key>
			<string>{519,113}</string>
			<key>textureRect</key>
			<string>{{3375,3},{519,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_7debf9cb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,106}</string>
			<key>spriteSourceSize</key>
			<string>{114,106}</string>
			<key>textureRect</key>
			<string>{{3900,3},{114,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_9ed627bc.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,106}</string>
			<key>spriteSourceSize</key>
			<string>{114,106}</string>
			<key>textureRect</key>
			<string>{{4020,3},{114,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_bc5a114f.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,101}</string>
			<key>spriteSourceSize</key>
			<string>{126,101}</string>
			<key>textureRect</key>
			<string>{{4140,3},{126,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_1b5f31bd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,99}</string>
			<key>spriteSourceSize</key>
			<string>{112,99}</string>
			<key>textureRect</key>
			<string>{{4272,3},{112,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_ff3d08fd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{105,98}</string>
			<key>spriteSourceSize</key>
			<string>{105,98}</string>
			<key>textureRect</key>
			<string>{{4390,3},{105,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_46e1efeb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,96}</string>
			<key>spriteSourceSize</key>
			<string>{112,96}</string>
			<key>textureRect</key>
			<string>{{4501,3},{112,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_5052e6da.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,89}</string>
			<key>spriteSourceSize</key>
			<string>{132,89}</string>
			<key>textureRect</key>
			<string>{{4619,3},{132,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_e3687653.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,88}</string>
			<key>spriteSourceSize</key>
			<string>{111,88}</string>
			<key>textureRect</key>
			<string>{{4757,3},{111,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>atlas.png</string>
		<key>size</key>
		<string>{4871,218}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:internal$</string>
		<key>textureFileName</key>
		<string>atlas.png</string>
	</dict>
</dict>
</plist>
